-
  var mainMenu = [
    {
      "id": "10",
      "name": "Торты в ассортименте",
      "url": "catalog.html"
    },
    {
      "id": "20",
      "name": "Торты на заказ",
      "url": "catalog.html",
    },
    {
      "id": "30",
      "name": "Заказать по фото",
      "url": "#zakaz",
      "data-target": "#zakaz",
      "data-toggle":"modal"
    },
    {
      "id": "40",
      "name": "Контакты",
      "url": "/"
    },
  ];
