// В этом файле должны быть стили для БЭМ-блока tort-zakaz, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.tort-zakaz {
  position: relative;
  margin-top:70px;

  $block-name:                &; // #{$block-name}__element

  &__inner {
    @include container();

  }
  &__filter {
    display:flex;
    flex-wrap: wrap;

  }

  & h3 {
    margin-top:0;
    margin-bottom:28px;
  }
  & .product-card {
    width: calc(25% - 2em);
    margin: 0 2em 0 0;
}
  &__sort{
    margin: 30px 0 50px;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: flex-start;

    & li {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0.2rem;
    }

  }

  &__col {
    @include col(xl,3 )
    display: flex;
  }
  & .cat {
    position: absolute;
    left:-300vw;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s linear;
    transform: scale(1.1);


    &.active {
      position: relative;
      opacity: 1;
      left:auto;
      overflow: inherit;
      transform: scale(1);
    }
  }
  
  &__view-all {
    text-align: center;
    padding:4rem 0 0;

    & .alt-btn {
      font-size: 15px;
    }
}
& .parallax7 {
  position: absolute;
  left: 20%;
  bottom:-500px;
  z-index: 1;
  transition: all .8s ease;
  }
}

@media(max-width: 1025px){
  .tort-zakaz {

    &__sort{
      flex-direction: column;
      align-items: stretch;
      height:0;
      overflow: hidden;
      transition:all 1s linear;
      max-height: 0px;
    
      &--open {
      display:flex;
      height:auto;
      max-height: 500px;
      transition:all 1s linear;
    }  

      & li {
        margin: 5px 0;
      }
    }
      
  &__filter-toggler{
    align-items: center;
    justify-content: flex-end;
    margin: 0 2rem 2rem 0;

    & img {
      padding: 5px;
    border: 1px solid #A1241E;
    border-radius: 10px;
    }
  }

  }
}

@media(max-width: 600px){
  .tort-zakaz {

    &__sort{
      flex-direction: column;
      align-items: stretch;
      height:0;
      overflow: hidden;
      transition:all 1s linear;
      max-height: 0px;
    
      &--open {
      display:flex;
      height:auto;
      max-height: 500px;
      transition:all 1s linear;
    }  

      & li {
        margin: 5px 0;
      }
    }
  & .product-card {
    width: calc(100% - 2em);

  }
    
  &__filter-toggler{
    align-items: center;
    justify-content: flex-end;
    margin: 0 2rem 2rem 0;

    & img {
      padding: 5px;
    border: 1px solid #A1241E;
    border-radius: 10px;
    }
  }

  }
}
