// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.


// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport {
    width: device-width;
  }
}


/* open-sans-regular - latin_cyrillic */
/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('fonts/open-sans-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v18-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/open-sans-v18-latin_cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('fonts/open-sans-v18-latin_cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v18-latin_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v18-latin_cyrillic-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/open-sans-v18-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
       url('fonts/open-sans-v18-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v18-latin_cyrillic-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('fonts/open-sans-v18-latin_cyrillic-600italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
       url('fonts/open-sans-v18-latin_cyrillic-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v18-latin_cyrillic-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-600italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v18-latin_cyrillic-600italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/open-sans-v18-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
       url('fonts/open-sans-v18-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v18-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v18-latin_cyrillic-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800italic - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url('fonts/open-sans-v18-latin_cyrillic-800italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
       url('fonts/open-sans-v18-latin_cyrillic-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/open-sans-v18-latin_cyrillic-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-800italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/open-sans-v18-latin_cyrillic-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/open-sans-v18-latin_cyrillic-800italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Hello';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/HelloDinaScript.woff2') format('woff2'), /* Super Modern Browsers */

}


.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 400vh;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}
body, html {
  overflow-x: hidden;

}
body {
  display: flex;           // Исправляем баг в IE для min-height and flexbox (flex-direction:column)
  flex-direction: column;  // и прижимаем footer в IE 10-11
  margin: 0;
  min-height: 100%;
  word-break: break-word;
  font-family: "Open Sans";
  font-size: $font-size;
  line-height: $line-height;
  text-align: left;
  color: $text-color;
  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; // Коррекция проблем стилизации для Safari
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {
  fill: currentColor;

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }

  &:not(:root) {
    overflow: hidden; // Скрыть выступающее за границы в IE
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: $link-color;
    text-decoration: underline;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^="tel:"] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

hr {
  box-sizing: content-box; // Проблема Firefox
  height: 0;               // Проблема Firefox
  overflow: visible;       // Проблема Edge и IE
  margin-top: $typo-margin-vertical * 2;
  margin-bottom: $typo-margin-vertical * 2;
  border: 0;
  border-top: 1px solid $border-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 2rem;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

h1 { font-size: $font-size-h1; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

p,
ul,
ol,
dl,
table,
blockquote,
pre,
address,
figure {
  margin-top: 0;
  margin-bottom: $typo-margin-vertical;
}

p {
  // http://clagnut.com/blog/2395
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

address {
  font-style: normal;
}

ul,
ol {
  margin-bottom: $typo-margin-vertical;
  padding-left: 1.5em;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

li {
  line-height: inherit;
}

// dt {
//   font-weight: 700;
// }

// dd {
//   margin-left: 0;

//   @media (min-width: $screen-sm) {
//     margin-left: 1.5rem;
//   }

//   & + dt {
//     margin-top: ($line-height / 2);
//   }
// }

// .small,
small {
  font-size: $font-size-sm;
}

sub,
sup {
  font-size: $font-size-sm;
}

// .mark,
// mark {
//   background: rgba($color-warning, 0.3);
//   padding: 0.1em 0.3em;
// }

b,
strong {
  font-weight: bolder;
}

// abbr[title] {
//   text-decoration: underline dotted;
// }

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

// samp,
code,
kbd,
pre {
  font-family: $font-family--monospace;
}

code {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: rgba(#000, 0.08);
  border-radius: $border-radius;
}

kbd {
  padding: 0.06em 0.3em;
  color: $text-color;
  background-color: $gray-lightest;
  border-radius: $border-radius;

  kbd {
    padding: 0;
  }
}

pre {
  display: block;
  width: 100%;
  margin-bottom: $typo-margin-vertical;
  overflow-x: auto;
  tab-size: 2;
  background-color: rgba(#000, 0.08);

  code {
    background: transparent;
  }
}
.page {

}
.top-block-home {
  min-height: 538px;
  background-color: rgb(255, 239, 215);
  position: relative;
  padding-bottom: 3.5rem;
  padding-bottom: 57px;

  &__lenta {
    position: absolute;
    bottom: 0;
    left: 80%;

  }
  &__lenta-niz {
    position: absolute;
    left: 60%;
    
}
@media(max-width: 768px){
  &__lenta-niz {
    position: absolute;
    left: 50%;
    bottom: -25px;
}
}
}

.home-title{
  visibility: hidden;
  position: absolute;
}

.product-card {
  border:1px solid #FFEFD7;
  border-radius:30px;
  padding:1.5rem 1rem;
  display:flex;
  flex-wrap: wrap;
  max-width:100%;
  overflow: hidden;
  
  &:hover {
    border-color: $red;
  }
  &__title {
    font-size:18px;
  }
 
  &__img {
    width: 100%;
    position: relative;
    min-height: 300px;
    height: 300px;
    

    & img {
      position: absolute;
      max-width: 130%;
      right: 0;
      min-width: 100%;
  
    }

    }

  &__tabs {
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    padding: 0;
    margin-bottom:1rem;
  }
  & .deckription-tab{
    overflow: hidden;
    max-height: 0px;
    height:0;
    transition: all 1s linear;
  }

  & .deckription-tab--open{
    overflow: hidden;
    max-height: 500px;
    height:auto;
    transition: all 1s linear;
  }
  .edit-tab{
    overflow: hidden;
    max-height: 0px;
    height:0;
    transition: all 1s linear;
  }
  .edit-tab--open{
    overflow: hidden;
    max-height: 500px;
    height:auto;
    transition: all 1s linear;
  }
  & .deckription-link{
    list-style: none;
    margin-right:10px;
    padding-bottom:0.5rem;
    border-bottom: 1px solid rgb(229, 229, 229);
    transition: all 0.5s linear;
    

    &--active {
      border-bottom: 1px solid $red;
      transition: all 0.5s linear;
      }
    &:hover {
      cursor: pointer;
    }
  }
  & .edit-link{
    list-style: none;
    margin-right:10px;
    padding-bottom:0.5rem;
    border-bottom: 1px solid rgb(229, 229, 229);
    transition: all 0.5s linear;

    &--active {
      border-bottom: 1px solid $red;
      transition: all 0.5s linear;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__tab {
    padding:0;

    & li {
      list-style: none;
    }
  }
  &__ves-list{
  background-color: #F4F4F4;
  border-radius: 10px;
  display: flex;
  margin: 10px 0;
  padding:0;
  }

  &__ves-item{
    background-color: #F4F4F4;
    border-radius: 7px;
    padding: 4px 9px;
    margin: 3px 2px;

    &--active {
      background-color: #ffffff;
      box-shadow: 0px 0px 8px rgba(0,0,0,0.1); 
    }

    &:hover {
      cursor: pointer;
      font-weight: bold;
      color: $red;
      box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    }
  }
  &__kol-list {
    
    display: flex;
    margin: 10px 0;
    padding:0;
    justify-content: space-between;
    position: relative;

    &:before {
      content: " ";
    background-color: #F4F4F4;
    border-radius: 10px;
    position: absolute;
    top:0;
    right:0;
    left:0;
    padding: 15px 10px;
    z-index: 0;
    }
  }
  &__kol-item {
    width:49%;
    position: relative;
  }
  & .quantity {
    display: flex;
  }
  & .quantity-plus {
    display:flex;
    align-items: center;
    background-color: #ffffff;
    padding: 4px 9px;
    margin: 3px 2px;
    border-radius: 7px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);

    &:hover {
      cursor: pointer;
    }
  }

  & .quantity-minus {
    display:flex;
    align-items: center;
    background-color: #ffffff;
    padding: 4px 9px;
    margin: 3px 2px;
    border-radius: 7px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);

      &:hover {
        cursor: pointer;
      }
    }
  & .quantity-val {
    max-width:50px;
    overflow: hidden;
    display:flex;
    align-items: center;
    margin: 3px 2px;
    border-radius: 7px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
  }
  & input {
    width: 70px;
    outline: none;
    padding: 4px 9px;
    border: 0px;
    border-radius: 10px;
    background: transparent;
  }
  & .product-card__atribute{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 4px 9px;
    margin: 3px 2px;

     &:hover {
       cursor: pointer;
     }

    & span {
      background-color: #ffffff;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 0;
      padding: 4px 9px;
      margin: 3px 2px;
      border-radius: 7px;
      box-shadow: 0 0 8px rgba(0,0,0,.1);
    }
   }
  & .attribute__list {
    display:none;
    max-height:0;
    overflow: hidden;
    width:100%;
    top: 30px;
    left: 0;
    right: 0;
    background-color: #f4f4f4;
    z-index: 10;
    padding: 0;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    transition: all 0.5s linear;

    & li {
      padding:0.3rem 0.5rem;
    }
    & li:hover {
      padding:0.3rem 0.5rem;
      background-color: #fff;
      color:$red;
      cursor: pointer;
    }
    &--open {
      display: block;
      max-height:500px;

    }
  }
  & .attribute-arrow{
    padding-left:5px;
    transition: all 0.5 linear;
    z-index:0;

    &--open {
      transform: rotate(180deg);
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    width: 100%;
  }

  &__btn {
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    border: 2px solid #9f241d;
    background: #ffffff;
    font-weight: 600;
    font-size: 15px;
    border-radius: 20px;
    transition: all 0.5s linear;

    &:hover, &:focus, &:active {
      background-color: $red;
      color:#ffffff;
      text-decoration: none;
      outline: none;
      box-shadow: none;
    }
  }
   & .price {
     font-size:15px;
     font-weight: 800;
   }



}
.alt-btn {
  text-decoration: none;
  padding: .5rem 1.5rem;
  border: 1px solid #c7c1c1;
  background: #fff;
  color:#8e8383;
  font-weight: 600;
  font-size: 11px;
  border-radius: 20px;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
  
  &--dark {
    background-color: #F4F4F4;
  }
  &.active{
    background-color: #f4f4f4;
    color:$red;
  }

  &:hover, &:focus, &:active {
    background-color: #F4F4F4;
    cursor: pointer;
    text-decoration: none;
  }
  
}
.green-btn{
  background-color: #90C333;
  color:#ffffff;
  border:1px solid #90C333;
  transition: all .5s linear;

  &:hover, &:active, &:focus {
    background-color: darken( #90C333, 5%);
    border:1px solid #81af2e;
    color:#ffffff;
    box-shadow:none;

  }
}

.about {
  position: relative;
  color:#ffffff;
  background: url(../img/footer.png), linear-gradient(90deg, #E7770B 0%, #EDA84B 100%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  &__inner {
    @include container();
  }

  &__row {
    @include row();
  }

  &__col {
    @include col(xl, 3)
  }
  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position:relative;

    & svg {
      position: absolute;
      top: 40%;
      right: -25%;
    }
    & .icon-rotate {
      top:48%;
    }
  }
  &__img{
   text-align: center;

    &:before {
      content:"";
    }
    &::after {
      content:"";
    }

    & img{
     max-width:75%;
    }
  }

  & h3 {
    padding: 68px 0 0 0;
    text-align: center;
    font-size: 40px;
  }

  &__subtitle {
    font-size:15px;
    text-align:center;
  }
  & .parallax8 {
    position: absolute;
    left: 60%;
    top:-980px;
    z-index:5;
   }

   &__zakaz {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:4rem;
   }
}
