// В этом файле должны быть стили для БЭМ-блока sidebar, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sidebar {

  $block-name:                &; // #{$block-name}__element
margin: 50px 30px 0 0;


& h3 {
  color:#640500;
  font-size: 15px;
  margin-bottom:5px;
}

& .filter {
  padding:30px 20px;
background: #FFFFFF;
border: 1px solid #FFEFD7;
box-sizing: border-box;
box-shadow: 0px 10px 20px rgba(100, 5, 0, 0.3);
border-radius: 20px;
min-width: 256px;

&__shops-list {
  padding:0;
  margin:0;
  height:0;
  max-height:0;
  overflow:hidden;
  transition: all 1s linear;

  &--open{
    height: auto;
    max-height: 500px;

  }

  & li {
    list-style:none;

    &:hover {
      cursor: pointer;
      background-color: #e2dbdb;
    }
    
  }
}
}
 &__filter-toggler{
   display:none;
 }
}
@media (max-width:600px){
 
  .sidebar{
   margin:20px 0 0 0;
    
   &__filter-toggler{
    display:block;
    min-width:40px;

    & .close {
      position: absolute;
      right:20px;
    }
   }
    & .filter {
    min-width: 90vw; 
    position: absolute;
    z-index: 1000;
    left: -200vw;
    transition: all 0.5s linear;
    
  
      &--open {
        left: 0px;
      }
    } 
  } 
}
