// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  &__inner {
    @include container();
  }

  &__row {
    @include row();
  }

  &__nav {
    position: relative;
    background-color: #ffffff;
    margin-top: 45px;
    display: inline-block;
    width: 100%;
    border-radius: 30px;
  }
}
