// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {
   background-color: #1C1000; 
   color:#ffffff;
   padding:4rem 0 0 0;

   &__inner {
       @include container();
   }

   &__row {
       @include row();
   }

   &__col1 {
       @include col(xl, 5);
       @include col(md, 3)
   }

   &__col2 {
    @include col(xl, 3)
    @include col(md, 3)
   }

   &__col3 {
    @include col(xl, 2);
    @include col(md, 3);
    padding-top: 1rem;
   }
   &__col6 {
    @include col(xl, 6);
    display:flex;
    align-items: center;
    flex-wrap: wrap;
   }

   &__top-block {
    border-bottom: 2px solid #DF8930;
    padding-bottom:1.5rem;
   }

   &__content {
       display: flex;
       align-items: center;
       flex-wrap: wrap;
       font-size:13px;
   }

   &__map {
       width:22px;
       margin-right:10px;
   }

   &__insta {
    width: 32px;
    margin-right:10px;
   }

   &__block {
    display: block;
    width:100%;
    font-size:13px;
   }

   &__light {
    color:#c1b5b5;
    font-size:11px;
   }
   &__title {
       font-size:14px;
       padding-left:10px;
       font-weight: 600;
   }
   & a {
       color:#ffffff;
       text-decoration: none;
   }
   & .footer-menu{
       padding:2rem 0;

       &__title {
           font-size: 15px;
           font-weight: 600;
           padding-bottom:0.5rem;
       }

       &__list {
           padding:0;
       }

       &__item {
           list-style: none;
           padding: 0.5rem 0;
       }
   }
   &__copy {
       margin-top:1.5rem;
       padding:2rem 0;
       border-top: 1px dashed #FFFFFF;

       & .copy-link {
           display: flex;
           align-items: center;
           flex-wrap: wrap;
           padding-top: 4px;
       }
   }
}
