//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-footer()
          p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .page-footer__inner
      .page-footer__top-block
        .page-footer__row
          .page-footer__col1
            .page-footer__content
              img(src="img/logo_footer.png")
              span Хлебопекарное<br>предприятие
          .page-footer__col2
            .page-footer__content Адрес:
              span г. Алматы, мкр. Аксай-2, ул. Бауыржана, Момышулы, 36 «А»
          .page-footer__col3
            .page-footer__content
              img(src="img/map.png") 
              span Схема проезда
          .page-footer__col3
            .page-footer__content
              img(src="img/map.png") 
              span Мы в инстаграм

      .page-footer__content
        .page-footer__row
          .page-footer__col3
          .page-footer__col3
          .page-footer__col3
          .page-footer__col3
      .page-footer__copy
      block
